/* Style iniziale di pagina */

:root {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 14px;
}

body {
    background-color: rgb(253, 248, 248);
}

header {
    background-color: white;
    width: 2000px;
}

.container {
    width: 80%;
    height: 20px auto
}


/* stile header */

#logo {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin-left: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}


#text_logo {
    color: black;
    font-size: 50px;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.5%;
}

main {
    text-align: center;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    margin: auto;
    width: 60%;
    height: 800px;
    margin-top: 3%;
    margin-left: 33%;   
}