/* Style iniziale di pagina */

:root {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 14px;
}

body {
    background-color: rgb(253, 248, 248);
}

header {
    background-color: white;
    width: 100%;
}

/* stile header */

#logo {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin-left: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}


#text_logo {
    color: black;
    font-size: 50px;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.5%;
}

/* style main */
main {
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin: auto;
    width: 60%;
    height: 800px;
    margin-top: 3%;
    margin-left: 20%;
}

.button {
    border-bottom: 3px solid rgba(233, 226, 226, 0.781);
}

input {
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 2%;
    margin-left: 7%;
}

#bottone1 {
    background-color: rgb(57, 118, 187);
    color: aliceblue;
    border-style: solid;
    border-color: rgb(57, 118, 187);
}

#bottone2 {
    background-color: whitesmoke;
    color: rgb(184, 182, 182);
    border-color: rgb(184, 182, 182);
    margin-left: 1px;
    border-style: solid;
}

.list {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 2%;
    margin-left: 7%;
}

#Arrow {
    size: 20px;
    width: 100%;
    vertical-align: middle;
}