/* Style iniziale di pagina */

:root {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 14px;
}

body {
    background-color: rgb(253, 248, 248);
}

header {
    background-color: white;
    width: 100%;
}

/* stile header */

#logo {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin-left: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}


#text_logo {
    color: black;
    font-size: 50px;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.5%;
}

/* style main */
main {
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin: auto;
    width: 60%;
    height: 800px;
    margin-top: 3%;
    margin-left: 20%;
}

.button {
    border-bottom: 3px solid rgba(233, 226, 226, 0.781);
    padding-bottom: 1%; 
}

input {
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 2%;
    margin-left: 7%;
}

/* style buttons */
#bottone1 {
    background-color: rgb(57, 118, 187);
    color: aliceblue;
    border-style: solid;
    border-color: rgb(57, 118, 187);
}

#bottone2 {
    background-color: whitesmoke;
    color: rgb(184, 182, 182);
    border-color: rgb(184, 182, 182);
    margin-left: 1px;
    border-style: solid;
}

.list {
    font-size: 16px;
    padding: 0;
    margin-top: 2%;
    margin-left: 7%;
}

/* Style elementi della lista  */
#Arrow {
    vertical-align: top;
    font-size: 40px;
}


h1{
    margin: 0;
}

#checkmark::after {
    line-height: 20px;
    font-size: 20px;
    border: 3px solid rgb(74, 207, 130);
    border-radius: 100%;
    content: '✔';
    color: rgb(74, 207, 130);
}

#text {
    color: black;
    font-size: 20px;
}

#label {
    border-radius: 10px;
}

#editorial {
    background-color: lightskyblue;
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
    padding: 7px 7px;
    color: white;
}

.item {
    margin-bottom: 1%;
}

#Q1 {
    background-color:rgb(126, 23, 146);
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
    padding: 7px 7px;
    color: white;
}

#redcross::after {
    line-height: 20px;
    font-size: 15px;
    border: 3px solid rgb(238, 18, 18);
    border-radius: 100%;
    content: "\274c";
}

#Recruiting {
    background-color:rgb(22, 184, 122);
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
    padding: 7px 7px;
    color: white;
}

#mobile {
    background-color:rgb(238, 141, 14);
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
    padding: 7px 7px;
    color: white;
}

#Website {
    background-color:rgb(224, 42, 185);
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
    padding: 7px 7px;
    color: white;
}

#Sales {
    background-color:rgb(176, 224, 42);
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
    padding: 7px 7px;
    color: white;
}